<div class = 'container'>
  <footer>
    <small>
      Alpha blog - just a training app
    </small>
    
    <ul>
      <li>
        <a href = 'https://www.google.com'>Just a placeholder</a>
      </li>
      
      <li>
        <a href = 'https://www.google.com'>Just a placeholder</a>
      </li>
    </ul>
    
  </footer>
</div>